/* CSS for the hero image */
.hero-image {
    position: relative;
    width: 100%;
    height: 200px; /* Adjust height as needed */
    background-image: url('https://linesteppers.com/tutorials/RMarkdown/img/BannerImage_TreeBlossoms_4470x3024.jpg'); /* Imatge a extern accessible */
    background-size: cover;
    background-position: center;
    background-attachment: scroll; /* fixed o scroll. PEr defecte fixed */
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: Open Sans, sans-serif;
}

.top-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.bottom-text {
    font-size: 18px;
    font-weight: normal;
}
